.talkToUs {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 10;
}
.talkToUs > .floating-icon {
  box-shadow: 4px 4px 10px 2px #000000;
}
.talkToUs > .MuiAvatar-colorDefault {
  background-color: #007bff;
}
.talkToUs .plus-sign {
  color: white;
}
button {
  border: 0;
  outline: none;
}
img {
  width: 100%;
  object-fit: cover;
}
.avatar-wrapper {
  border-radius: 50%;
  overflow: hidden;
}
.chat-box {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 350px;
  margin: auto;
  z-index: 1040;
}
.chat-box .header {
  display: flex;
  align-items: center;
  border-radius: 20px 20px 0 0;
  padding: 15px;
}
.chat-box .header .avatar-big {
  width: 35px;
  height: 35px;
}
.chat-box .header .name {
  margin-left: 20px;
  font-size: 20px;
  font-weight: 500;
}
.chat-box .header .options {
  margin-left: auto;
}
.chat-box .header .options .close-window-wrapper:hover {
  background-color: #007bff;
}
.chat-box .header .options .close-window {
  color: white;
}
.chat-box .chat-room {
  height: 50vh;
  overflow: scroll;
  padding: 15px;
}
.chat-box .chat-room::-webkit-scrollbar {
  display: none;
}
.chat-box .chat-room .avatar-small {
  width: 25px;
  height: 25px;
}
.chat-box .chat-room .message {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}
.chat-box .chat-room .message-left {
  align-items: flex-start;
}
.chat-box .chat-room .message-left .bubble {
  border-radius: 0 5px 5px 5px;
}
.chat-box .chat-room .message-right {
  align-items: flex-end;
}
.chat-box .chat-room .message-right .bubble {
  border-radius: 5px 0 5px 5px;
}
.chat-box .chat-room .bubble {
  padding: 10px;
  font-size: 14px;
  margin-top: 5px;
  display: inline-block;
}
.chat-box .type-area form {
  display: flex;
  height: 65px;
  border-radius: 0 0 20px 20px;
}
.chat-box .type-area .input-wrapper {
  overflow: hidden;
  border-radius: 0 0 0 20px;
}
.chat-box .type-area .input-wrapper input {
  outline: none;
  border: none;
  padding-left: 20px;
  height: 100%;
  width: 290px;
  font-size: 14px;
}
.chat-box .type-area .button-send {
  margin-left: auto;
  width: 65px;
  font-weight: bold;
  border-left: 2px solid #007bff;
  border-radius: 0 0 20px 0;
}
.chat-box .type-area .button-send:hover {
  background-color: #007bff !important;
  color: #fff !important;
}
@media only screen and (max-width: 400px) {
  .chat-box {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
  }
  .chat-box .header,
  .chat-box .type-area .button-send,
  .chat-box .type-area .input-wrapper {
    border-radius: 0;
  }
  .chat-box {
    width: -webkit-fill-available;
  }
  .input-wrapper {
    width: -webkit-fill-available;
  }
  .type-in {
    width: 100% !important;
  }
  .chat-room {
    height: calc(100vh - 143px) !important;
  }
}
