.full {
  background-color: #fdeef4;
}

.header {
  display: flex;
  flex: 1;
}
.logoHeader {
  height: 11.5vh;
  width: 7vw;
  cursor: pointer;
}

.title {
  font-size: 6vw;
  font-family: "Ubuntu", sans-serif;
  font-weight: bolder;
  color: #007bff;
  text-shadow: 2px 2px #e45e9d;
  text-rendering: optimizeLegibility;
}
@media screen and (max-width: 800px) {
  .title {
    font-size: 60px;
  }
}

.google__login {
  margin-right: 10px;
  margin-left: 20px;
}

.nav-link {
  font-size: 16.5px;
  color: black;
}
