.full {
  background-color: #fefcff;
  width: 100%;
}

.header {
  display: flex;
}
.logoHeader {
  height: 11.5vh;
  width: 7vw;
  cursor: pointer;
  display: flex;
}
.heading {
  display: flex;
  margin-bottom: 0px;
  margin-top: 0;
  height: 115px;
}
.logo {
  margin-top: 2%;
  margin-left: 2%;
  margin-right: 1%;
  display: flex;
}
.Logo {
  margin-top: 1%;
  margin-right: 1%;
}

.list {
  display: flex;
}
.title {
  font-size: 6.5rem;
  font-family: "Ubuntu", sans-serif;
  font-weight: bolder;
  color: #007bff;
  text-shadow: 2px 2px #e45e9d;
}
.menu2 {
  position: fixed;
  left: 0px;
  top: 0;
  z-index: 1;
  background-color: #fefcff;
  width: 100%;
}
.fix {
  background-color: #fefcff;
}

#navb {
  overflow: hidden;
}
@media screen and (max-width: 900px) {
  .title {
    font-size: 80px;
  }
}

.nav-link {
  font-size: 19px;
  color: black;
}

.LinkButton {
  background-color: #4caf50; /* Green */
  border-radius: 5%;
  color: white;
  padding: 8px 19px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 2px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.LinkButton {
  background-color: #007bff;
  color: white;
  border: 2px solid #007bff;
  margin: 10px;
}

.LinkButton:hover {
  background-color: white;
  color: Black;
}
