.rescue__top {
  margin: 1%;
  height: 110vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.rescue__top__text {
  background-color: white;
  width: 500px;
  padding: 5%;
  position: relative;
  top: 15%;
  left: 8%;
  font-size: 18px;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 1);
}

.rescue__top__text > h1 {
  color: #007bff;
}

.banner {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hover-buttons {
  font-size: 1.3rem;
}

.hover-buttons:hover {
  background: white;
  border-color: #007bff;
  color: rgb(54, 53, 53);
}

.Iframe {
  width: 65vw;
  height: 75vh;
  margin: 3%;
}

.rescue__vedio {
  background-color: lightblue;
  margin: 2% 1%;
  text-align: center;
  justify-content: space-between;
}
.rescue__vedio__detail {
  padding: 2%;
  padding-top: 35px;
}
.rescue__vedio__detail > h1 {
  font-size: 6vw;
  font-weight: bold;
  font-family: "Balsamiq Sans", cursive;
  color: #007bff;
}
.rescue__vedio__detail > p {
  font-size: 1rem;
}
.Values {
  padding: 2%;
  width: 40%;
  margin: auto;
  position: relative;
  top: 65%;
}
.Image {
  height: 110vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.form-padding {
  padding: 2%;
}

@media screen and (max-width: 768px) {
  .rescue__top__text {
    background-color: white;
    width: 200px;
    padding: 5%;
    position: relative;
    top: 10%;
    left: 4%;
    font-size: 14px;
    box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 1);
  }

  .Iframe {
    width: 90vw;
  }
}

@media screen and (max-width: 991px) {
  .banner {
    height: 40vh !important;
  }
}
