.banner {
  height: 70vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.title-bar {
  position: relative;
  top: 50%;
  left: 10%;
  width: 200px;
  transform: translateY(-50%);
}
.story {
  position: relative;
  top: 50%;
  left: 10%;
  width: 40vw;
  height: 15vh;
  transform: translateY(-50%);
}
.link {
  font-size: 0.8rem;
}
.small-title {
  font-size: 0.8rem;
}
.large-title {
  font-size: 2.4rem;
  line-height: 2.5rem;
}
.section-description {
  font-size: 18px;
}
.category-link {
  text-decoration: none !important;
}
.detail2 {
  text-align: center;
  font-size: 4vw;
  color: #736aff;
}
.detail {
  place-items: center;
  padding: 5%;
  text-align: center;
  justify-content: center;
}
.detail > h1 {
  font-size: 6vw;
  font-family: "Balsamiq Sans", cursive;
  font-weight: bolder;
  color: #736aff;
  margin-bottom: 2%;
}
.detail > p {
  font-size: 20px;
  padding: 0% 5%;
}
.linkButton {
  background-color: #4caf50; /* Green */
  border-radius: 2%;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 2px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.linkButton {
  background-color: #736aff;
  color: white;
  border: 2px solid #736aff;
}

.linkButton:hover {
  background-color: white;
  color: Black;
  text-decoration: none;
}
.linkButtonDetails {
  margin: 1% 42%;
}
.center__image {
  margin: 2%;
  width: 70vw;
  height: 90vh;
  background-position: ;
}
